article,
section,
nav,
aside,
h1,
h2,
h3,
h4,
h5,
h6,
header,
footer,
address,
p,
hr,
pre,
blockquote,
ol,
ul,
li,
dl,
dt,
dd,
figure,
figcaption,
div,
main,
a,
em,
strong,
small,
s,
cite,
q,
dfn,
abbr,
data,
time,
code,
var,
samp,
kbd,
sub,
sup,
i,
b,
u,
mark,
ruby,
rb,
rt,
rtc,
rp,
bdi,
bdo,
span,
br,
wbr,
img,
a,
table,
caption,
colgroup,
col,
tbody,
thead,
tfoot,
tr,
td,
th,
form,
label,
input,
button,
select,
datalist,
optgroup,
option,
textarea,
keygen,
output,
progress,
meter,
fieldset,
legend,
canvas, 
body {   display: inline; font-size: 1em; font-weight: normal; 
            font-style: normal; font-family: arial; 
            border-spacing: 0px; margin: 0px; white-space: normal;
            vertical-align: top; text-decoration: none;
            list-style-type: none; text-align: left; padding: 0px
        }