body{
	margin:0px;
	padding:0px;
}
#container
{
	position:relative;
	width:100%;
	height:100%;
}
#player
{
	position:relative;
	display:inline-flex;
	width:200px;
	height:200px;
	top:50%;
	left:50%;
	right:auto;
	bottom:auto;
	background:blue;
	transform: translate(0, -50%) 
}
#enemy
{
 	position:relative;
	display:inline-flex;
	width:100px;
	height:100px;
	top:50%;
	left:50%;
	background:red;
	transform: translate(0, -50%) 
}
#center
{
	position:absolute;
	display:inline-flex;
	width:1px;
	height:1px;
	top:50%;
	Left:50%;
}